:root {
  --max-width: 1280px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: #173d33;
  background: #f3f5fa;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.slick-slider {
  width: 100%;
  margin: 0 auto;
}

.slick-slider div {
  width: 100%;
  margin: 0 auto;
}

.slick-slide {
  /* width: 100%; */
  /* padding: 0 20px; */
}

.slick-track {
  display: flex;
  overflow-x: hidden;
  flex-wrap: nowrap;
}

@media screen and (min-width: 1280px) {
  .slick-slide {
    padding: 0 24px;
  }

  .slick-slide div {
    width: 596px;
  }
}

@media screen and (min-width: 768px) {
  .slick-slide {
    padding: 0 12px;
  }

  .slick-slide div {
    width: 342px;
  }
}

@media screen and (min-width: 480px) {
  .slick-slide {
    padding: 0 12px;
  }

  .slick-slide div {
    width: 320px;
  }
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .slick-slide {
    padding: 0 12px;
  }
}
