.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 480px;
  margin-top: 36px;
  margin-bottom: 24px;
}

.title {
  text-align: start;
  font-size: 28px;
  line-height: 28px; /* 100% */
  text-transform: uppercase;
}

.verticalLine {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 1px;
  transform: translateX(-50%);
  border: 1px solid #97d28b;
}

.desc {
  font-size: 16px;
  letter-spacing: -0.64px;
}

@media screen and (max-width: 768px) {
  .verticalLine {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 768px;
    margin-top: 100px;
  }

  .desc {
    max-width: 340px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    margin-top: 120px;
  }

  .desc {
    max-width: 460px;
  }
}
