.logoContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.logoContainer:hover {
  .logoText {
    color: #97d28b;
  }
}

.logoText {
  font-size: 33px;
  font-weight: 500;
  height: 48px;
  letter-spacing: -1.32px;
}

.textGreenEnergy {
  text-transform: uppercase;
  width: 60px;
  vertical-align: middle;
  flex-wrap: wrap;
  font-size: 10px;
  line-height: 9px;
  letter-spacing: -0.4px;
}

.textGreen {
  color: #97d28b;
  font-size: 10px;
  line-height: 9px;
  letter-spacing: -0.4px;
}
