.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding: 0 20px;
  width: 100%;
  height: 112px;
  max-width: 480px;
  margin: 0 auto;
  background-color: transparent;
  z-index: 100;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.navMenuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  padding: 4px 12px;
  flex-shrink: 0;
  border-radius: 500px;
  border: transparent;
  background-color: #dcefd8;
  cursor: pointer;
}

.navMenuBtn:hover {
  background-color: #97d28b;
}

.contactsLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 140px;
  height: 40px;
  padding: 10px 16px;
  border-radius: 500px;
  background-color: #97d28b;
}

.contactsLink:hover {
  color: #97d28b;
  background-color: #173d33;
}

.contactsLink:hover .icon {
  color: #173d33;
  background-color: #97d28b;
}

.navLink:hover {
  color: #97d28b;
  background-color: #173d33;
}

.linkText {
  font-size: 16px;
  letter-spacing: -0.64px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #173d33;
  rotate: 90deg;
}

.icon svg {
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 768px) {
  .contactsLink {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1280px;
  }
}
